<body>
	<h1>Preço do NANO</h1>
	<h2>O preço médio ponderado do nano é de:</h2>
		<h3>R$ <?=number_format($preco_ponderado, 2, ',', '.')?></h3>
	<div class="center"><p>Este é o preço do nano levando em consideração as seguintes exchanges brasileiras que fazem par com o Real.</p></div>
	<table>
	<tbody>
		<tr><th colspan="4">Preços por Exchange</th></tr>
		<tr>
			<td>Exchange</td>
			<td>Preço</td>
			<td>Volume</td>
			<td></td>
		</tr>
		<tr>
			<td>Bitcoin to you</td>
			<td>R$: <?=number_format($bitcointoyou_price, 2, ',', '.')?></td>
			<td><?=number_format($bitcointoyou_volume, 2, ',', '.')?></td>
			<td><?=$pbitcointoyou?>%</td>
		</tr>

			<td colspan="4" id='total'>O total negociado é de: <?=$volumetotal?> = 100%</td>
	    </tr>
	</tbody>
	</table>
<br>
Data e hora do servidor em GMT -3: <?=$date?>
<br>
